.profile__edit-button {
  background: url('./edit-button.svg');
  background-size: cover;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  transition: opacity .25s;
  outline: none;
  border: none;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}