.popup__submit-button {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: 0;
  width: 100%;
  height: 50px;
  transition: opacity .25s;
  outline: none;
}

.popup__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__submit-button_inactive {
  border: 1px solid #000;
  opacity: 0.2;
  background-color: #fff;
  color: #000;
  cursor: default;
}

.popup__submit-button_inactive:hover {
  opacity: 0.2;
  cursor: default;
}

@media screen and (min-width: 620px) {
  .popup__submit-button {
    font-size: 18px;
    line-height: 22px;  
  }
}