.popup__error {
  height: 20px;
  font-size: 12px;
  line-height: 15px;
  color: #f00;
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 25px;
}