.profile__edit-button {
  background: url('../../../images/edit-button.svg');
  background-size: cover;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  transition: opacity .25s;
  outline: none;
  border: none;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 820px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
  }
}