.popup__close {
  position: fixed;
  right: 0px;
  top: -52px;
  background: url('./plus.svg');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  border: none;
  outline: none;
  transition: opacity .25s;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 620px) {
  .popup__close {
    right: -40px;
    top: -40px;
  }
}