.profile__name {
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  display: inline;
}

@media screen and (min-width: 425px) {
  .profile__name {
    text-align: left;
    font-size: 42px;
    line-height: 48px;
  }
}